<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Signup Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<!--This is a class-->
<body class="bg-secondary d-flex align-items-center justify-content-center">
	<div class="container mt-4 bg-light p-4 rounded shadow-sm mx-auto">
		<h1 class="text-center mb-4">Create Account</h1>
		<form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary btn-block mt-3">Register</button>
		</form>
        <div class="alert alert-light text-center mt-3" role="alert">
			<p>Already have an account? <a href="http://localhost:8000/login/login">Login</a></p>
		</div>
		<div class="error">
			<!--In case if error exists-->
		</div>
	</div>
</body>
</html>
